<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Admin - Dashboard</title>

    <link rel="shortcut icon" href="/assets/img/Shicon.webp">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/owneraddproperties.css">
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="" class="logo header-title" id="hide-title">
                    <img src="/assets/img/Shicon.webp" alt="Logo">
                    <h3> NestFinder🕊️</h3>
                </a>
                <a href="index.html" class="logo logo-small header-mobile-icon">
                    <img src="/assets/img/Shicon.webp" alt="Logo" width="30" height="30">
                </a>
            </div>
            <a href="javascript:void(0);" id="toggle_btn">
                <i class="fas fa-bars spoint"></i>
            </a>
            {{!-- <div class="top-nav-search">
                <form>
                    <input type="text" class="form-control" placeholder="Search here">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div> --}}
            <a class="mobile_btn" id="mobile_btn">
                <i class="fas fa-bars"></i>
            </a>
            <ul class="nav user-menu">
                {{!-- <li class="nav-item dropdown noti-dropdown">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="far fa-bell"></i> <span class="badge badge-pill">3</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                    src="/assets/img/profiles/avatar-02.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Carlson Tech</span> has
                                                    approved <span class="noti-title">your estimate</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                    src="/assets/img/profiles/avatar-11.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">International Software
                                                        Inc</span> has sent you a invoice in the amount of <span
                                                        class="noti-title">$218</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                    src="/assets/img/profiles/avatar-17.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">John Hendry</span> sent
                                                    a cancellation request <span class="noti-title">Apple iPhone
                                                        XR</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="#">
                                        <div class="media">
                                            <span class="avatar avatar-sm">
                                                <img class="avatar-img rounded-circle" alt="User Image"
                                                    src="/assets/img/profiles/avatar-13.jpg">
                                            </span>
                                            <div class="media-body">
                                                <p class="noti-details"><span class="noti-title">Mercury Software
                                                        Inc</span> added a new product <span class="noti-title">Apple
                                                        MacBook Pro</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="#">View all Notifications</a>
                        </div>
                    </div>
                </li> --}}
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <span class="user-img"><img class="rounded-circle" src="/assets/img/Shicon.webp" width="31"
                                alt="Ryan Taylor"></span>
                    </a>
                    <div class="dropdown-menu">
                        <div class="user-header">
                            <div class="avatar avatar-sm">
                                <img src="/assets/img/Shicon.webp" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                            <div class="user-text">
                                <h6>Ryan Taylor</h6>
                                <p class="text-muted mb-0">Administrator</p>
                            </div>
                        </div>
                        <a class="dropdown-item" href="/owner/ownerprofile">My Profile</a>
                        <a class="dropdown-item"
                            onclick="if(confirm('Do you want to logout?')){document.getElementById('logoutForm').submit();}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="sidebarimage">
                            <img src="/assets/img/Shicon.webp" alt="Logo">
                        </li>
                        <li class="menu-title">
                            <span>Main Menu</span>
                        </li>
                        <li class="">
                            <a href="/owner"><i class="fas fa-tachometer-alt"></i> <span>Owner Dashboard</span> <span
                                    class="menu-arrow"></span></a>
                            {{!-- <ul>
                                <li><a href="index.html" class="active">owner Dashboard</a></li>
                                <li><a href="teacher-dashboard.html">Teacher Dashboard</a></li>
                                <li><a href="student-dashboard.html">Student Dashboard</a></li>
                            </ul> --}}
                        </li>
                        <li class="">
                            <a href="/owner/ownerprofile"><i class="fas fa-user-circle"></i> <span>MyProfile</span>
                                <span class="menu-arrow"></span></a>
                            {{!-- <ul>
                                <li><a href="index.html" class="active">Admin Dashboard</a></li>
                                <li><a href="teacher-dashboard.html">Teacher Dashboard</a></li>
                                <li><a href="student-dashboard.html">Student Dashboard</a></li>
                            </ul> --}}
                        </li>
                        <li class="submenu active">
                            <a href="#"><i class="fas fa-building"></i> <span> Manage Property</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/owner/owneraddproperties">Add Properties</a></li>
                                <li><a href="/owner/ownermyproperties">My Properties</a></li>
                                {{!-- <li><a href="add-student.html">Student Add</a></li>
                                <li><a href="edit-student.html">Student Edit</a></li> --}}
                            </ul>
                        </li>
                        <li class="">
                            <a href="/owner/ownerseekerinquiries"><i class="fas fa-chalkboard-teacher"></i> <span>
                                    Seeker Inquiry</span> <span class="menu-arrow"></span></a>
                            {{!-- <ul>
                                <li><a href="teachers.html">Admins</a></li>
                                <li><a href="/admin/ownerdata">Owners</a></li>
                                <li><a href="/admin/seekerdata">Seekers</a></li>
                            </ul> --}}
                        </li>

                        <li class="">
                            <a href="/owner/owneranalytics"><i class="fas fa-chalkboard-teacher"></i> <span> Property
                                    Analytics</span> <span class="menu-arrow"></span></a>
                            {{!-- <ul>
                                <li><a href="teachers.html">Admins</a></li>
                                <li><a href="/admin/ownerdata">Owners</a></li>
                                <li><a href="/admin/seekerdata">Seekers</a></li>
                            </ul> --}}
                        </li>

                        <li class="">
                            <a href="/owner/owneraddcomplaints"><i class="fas fa-chalkboard-teacher"></i> <span> Add
                                    Complaints</span> <span class="menu-arrow"></span></a>
                            {{!-- <ul>
                                <li><a href="teachers.html">Admins</a></li>
                                <li><a href="/admin/ownerdata">Owners</a></li>
                                <li><a href="/admin/seekerdata">Seekers</a></li>
                            </ul> --}}
                        </li>


                        {{!-- <li class="menu-title">
                            <span>Management</span>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-building"></i> <span> Gallary of Properties </span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="departments.html">Department List</a></li>
                                <li><a href="add-department.html">Department Add</a></li>
                                <li><a href="edit-department.html">Department Edit</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-exclamation-circle"></i> <span> User Complaints</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/admin/ownercomplaint">Owners</a></li>
                                <li><a href="/admin/seekercomplaint">Seekers</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-ban"></i> <span> Block Users</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/admin/blockowner">Owners</a></li>
                                <li><a href="/admin/blockseeker">Seekers</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fas fa-unlock"></i> <span> UnBlock Users</span> <span
                                    class="menu-arrow"></span></a>
                            <ul>
                                <li><a href="/admin/unblockowner">Owners</a></li>
                                <li><a href="/admin/unblockseeker">Seekers</a></li>
                            </ul>
                        </li> --}}

                        <li class="menu-title">
                            <span>Logout</span>
                        </li>
                        <li class="submenu">
                            <form id="logoutForm" action="/auth/logout" method="post" style="display: none;">
                                <!-- You can keep it hidden so it won't affect the UI -->
                                <button type="submit" style="display: none;">Logout</button>
                            </form>
                            <a href="#"
                                onclick="if(confirm('Do you want to logout?')){document.getElementById('logoutForm').submit();}"><i
                                    class="fas fa-shield-alt"></i> <span> Logout </span> <span
                                    class="menu-arrow"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">ADD PROPERTIES</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active" style="color: black;">Dashboard</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <form action="/owner/owneraddproperties" method="post" enctype="multipart/form-data">
                        
                        <label for="propertyId">Property ID</label>
                        <input type="text" id="propertyId" name="propertyId" placeholder="Enter property ID" required>

                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" placeholder="Enter property title" required>

                        <label for="description">Description</label>
                        <textarea id="description" name="description" placeholder="Enter property description" rows="4"
                            required></textarea>

                        <div class="form-group">
                            <div>
                                <label for="rent">Rent</label>
                                <input type="number" id="rent" name="rent" placeholder="Enter rent amount" required>
                            </div>
                            <div>
                                <label for="deposit">Deposit</label>
                                <input type="number" id="deposit" name="deposit" placeholder="Enter deposit amount"
                                    required>
                            </div>
                        </div>

                        <label for="address">Address</label>
                        <input type="text" id="street" name="street" placeholder="Street" required>
                        <div class="form-group">
                            <div>
                                <input type="text" id="city" name="city" placeholder="City" required>
                            </div>
                            <div>
                                <input type="text" id="state" name="state" placeholder="State" required>
                            </div>
                            <div>
                                <input type="text" id="zipcode" name="zipcode" placeholder="Zip Code" required>
                            </div>
                        </div>

                        <label for="ownerPhone">Owner Phone</label>
                        <input type="tel" id="ownerPhone" name="ownerPhone" placeholder="Enter owner's phone number"
                            required>

                        <label for="ownerEmail">Owner Email</label>
                        <input type="email" id="ownerEmail" name="ownerEmail" placeholder="Enter owner's email address"
                            required>

                        <div class="form-group">
                            <div>
                                <label for="bedrooms">Number of Bedrooms</label>
                                <input type="number" id="bedrooms" name="bedrooms" min="1" required>
                            </div>
                            <div>
                                <label for="bathrooms">Number of Bathrooms</label>
                                <input type="number" id="bathrooms" name="bathrooms" min="1" required>
                            </div>
                        </div>

                        <label for="images">Property Images</label>
                        <input type="file" id="images" name="images" multiple>

                        <label for="mapLocation">Map Location</label>
                        <div class="form-group">
                            <div>
                                <input type="number" step="any" id="latitude" name="latitude" placeholder="Latitude"
                                    required>
                            </div>
                            <div>
                                <input type="number" step="any" id="longitude" name="longitude" placeholder="Longitude"
                                    required>
                            </div>
                        </div>

                        <label for="datePosted">Date Posted</label>
                        <input type="date" id="datePosted" name="datePosted" required>

                        <label for="status">Status</label>
                        <select id="status" name="status" required>
                            <option value="Available">Available</option>
                            <option value="Unavailable">Unavailable</option>
                        </select>



                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/assets/js/script.js"></script>

    <script src="/assets/js/handleheader.js"></script>
</body>

</html>