.profile-container {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.profile-picture {
    width: 15vw;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 5px solid #2575fc;
    /* grid-area: 1/1/2/3;/ */
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-field {
    margin: 10px 0;
}

.profile-field span {
    font-weight: bold;
    color: #333;
}

.profile-field input {
    width: calc(100% - 10px);
    /* min-width: 35vw; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.update-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #2575fc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
    width: 150px;
    white-space: nowrap;
}

.update-button:hover {
    background: #1a5dc9;
}

@media only screen and (max-width: 768px)
{
    .profile-container{
        grid-template-columns: 1fr ;
    }
}