* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    height: 130px;
}

/* Adjust container padding */
.register-section {
    padding: 20px;
    text-align: center;
    background: rgba(23, 21, 21, 0.5);
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Title for register form */
.register-title {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}

/* Form styles */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form-group {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form-group label {
    margin-bottom: 5px;
    font-size: 1rem;
    color: white;
}

.form-group input,.form-group select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
    border: 2px solid #ccc;
    color: black;
}

.form-group input:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Submit button */
.submit-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-btn:hover {
    background-color: #45a049;
}

/* Success message */
.success-message {
    margin: auto;
    width: 26vw;
    padding: 20px;
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: aliceblue;
    background-color: rgba(92, 91, 98, 0.5);
    border-radius: 20px;
}

.hidden {
    display: none;
}